<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BASIC Compiler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACEAC93B1CE9F6AF0065A8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEAC94F1CE9F6B00065A8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACEAC95A1CE9F6B00065A8C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
